<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <h1>Welcome to PC Part Picker!</h1>
    <p>Organize your PC parts here!</p>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
